<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="../style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    
</head>
<body>

    <div class="wrapper">
        <!--Top menu -->
        <div class="sidebar">
           <!--profile image & text-->
           <div class="profile">
            <img src="../public/images/Dev1.jpg" alt="profile_picture">
            <h3>Prajwal BK</h3>
            <p>Web Developer</p>
          </div>
          <!--menu item-->
          <ul>
            <li>
                <a href="../index.html" class="active">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="item">Home</span>
                </a>
            </li>
            <li>
                <a href="contact.html">
                    <span class="icon"><i class="fas fa-solid fa-phone fa-rotate-180"></i></span>
                    <span class="item">Contact</span>
                </a>
            </li>
            <li>
                <a href="Info.html">
                    <span class="icon"><i class="fas fa-chart-line"></i></span>
                    <span class="item">Information</span>
                </a>
            </li>
            <li>
                <a href="guide.html">
                    <span class="icon"><i class="fas fa-user-shield"></i></span>
                    <span class="item">Guide</span>
                </a>
            </li>
            
          </ul>
            

            <div class = "content-wrap">
                <h2>Guide</h2>
                <p>Here goes your Guide information.</p>
            </div>  
        </div>

        

    </div>
    

</body>
</html>